---
import Layout from "@layouts/Layout.astro";
import SolidTaskSimple from "@components/solid/SolidTaskSimple.jsx";

---

<Layout title="Tasks">
  <section>
    {/* WICHTIG: Um die Komponente im Client (Browser) nutzen zu können, muss diese 
                 an den Browser geschickt werden. Dies wird durch client:load ermöglicht.  */}
    <SolidTaskSimple client:load />
  </section>
</Layout>
