---
import { Image } from 'astro:assets';
import Layout from "@layouts/Layout.astro";
import coder from "../assets/images/coder.webp"
---

<Layout title="">
	<div class:list={["max-w-screen-xl mx-auto px-5"]}>
		<html lang="en">
			<div class="grid place-items-center content-center ">
 	  			<p class="text-5xl font-extrabold text-black my-5">EduCo</p>
					
				<p class="text-4xl py-5">EduCo hilft Dir deinen Arbeitsalltag zu strukturieren. Erstelle Namenslisten und tägliche To Dos - wieso schwierig wenn es einfach geht?  </p>
			</div>
		</html>
	</div>
</Layout>

