---
import Layout from "@layouts/Layout.astro";
let persons = [
        { name: "Tom Kerep"},
        { name: "Lena Brender"},
        { name: "Anna Jutz"},
        { name: "Eva Petzold"},
        { name: "Tim Bachhäubl"},
        { name: "Jacob Sollbach"},
        { name: "Mira Anton"},
        { name: "Clara Stein"},
        { name: "Ralf Maier"},
        { name: "Paul Karle"}
    ]
---

<Layout title="Persons">
  <section class="grid py-10">
    <h1 class="text-4xl text-black-500">Schülerliste</h1>
    <p class="text-xl py-4">Klasse 4</p>
    <table class="w-full table">
      <thead>
        <tr>
          <th>Vorname</th>
        </tr>
      </thead>
      <tbody>
       { persons.map((person) => 
          <tr>
            <td>{ person.name }</td>
            <td>{ person.surname }</td>
            <td>{ person.city }</td>
            <td>{ person.age }</td>
          </tr>)}
      </tbody>
  </table>
  </section>
</Layout>