---
import Layout from "@layouts/Layout.astro";
let persons = [
        { prename: "Tom",surname:"Kerep", age: 22, schoolClass: "4B"},
        { prename: "Lena",surname:"Brender", age: 22, schoolClass: "4A"},
        { prename: "Anna",surname:"Jutz", age: 22, schoolClass: "4B"},
        { prename: "Tom",surname:"Kerep", age: 22, schoolClass: "4B"},
        { prename: "Lena",surname:"Brender", age: 22, schoolClass: "4A"},
        { prename: "Anna",surname:"Jutz", age: 22, schoolClass: "4B"},
        { prename: "Tom",surname:"Kerep", age: 22, schoolClass: "4B"},
        { prename: "Lena",surname:"Brender", age: 22, schoolClass: "4A"},
    ]
---

<Layout title="Persons">
  <section class="grid py-10">
    <h1 class="text-4xl text-black-500">Schülerliste</h1>
    <p class="text-xl py-4">Klasse 4</p>
    <table class="w-full table">
      <thead>
        <tr>
          <th>Vorname</th>
        </tr>
      </thead>
      <tbody>
       { persons.map((person) => 
          <tr>
            <td>{ person.prename}</td>
            <td>{ person.surname}</td>
            <td>{ person.age}</td>
            <td>{ person.schoolClass }</td>
          </tr>)}
      </tbody>
  </table>
  </section>
</Layout>