<footer class="my-20">
    <p class="text-center text-sm text-slate-500">
      Copyright © {new Date().getFullYear()} RWU
      <br>
      Tom Kerep & Lena Brender
    </p>
  <br>
    <p class="text-center text-xs text-slate-500 mt-1">
      Made for <a
        href="https://rwu.de"
        target="_blank"
        rel="noopener"
        class="hover:underline">
            Webentwicklung 2 - Anstrengend. 
      </a>
    </p>
  </footer>